{erl_opts, [debug_info]}.
{deps, [
    {ranch, {git, "https://github.com/ninenines/ranch", {tag, "1.6.2"}}}
]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [eqotdd]}
]}.

{relx, [
    {release, {eqotdd, semver}, [eqotdd]},
    {include_erts, false},
    {extended_start_script, true}
]}.
